{% layout 'base' %}
{% block content %}

<div>
  <h1>{{ data.site.title }}</h1>
  {% if collections and collections.nested and collections.nested.size > 0 %}
    {% for page in collections.nested %}
      <li>
        <a href="{{ page.url }}">{{ page.url }} - {{ page.title }}</a>
      </li>
    {% endfor %}
  {% else %}
    <li>No pages found.</li>
  {% endif %}
  <p>This is page html template. Test. 1 {{ page.title }} 2</p>
  <p>{{ content }}</p>
</div>
{% endblock %}
